<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../hyphae-growing-v2.js"></script>
    <script src="vue.js"></script>
    <script src="creator.js"></script>
    <style>

    </style>
</head>
<body>
<div id="app">
    <div v-on:click="playPause">
        <span v-if="!isRunning">play</span>
        <span v-else>pause</span>
    </div>
    <div v-on:click="stop" v-if="isAlive">stop</div>
    <div>{{activeBranches}} / {{activeBranches + deadBranches}}</div>
    <div v-if="!isDetailView"></div>
</div>
<div id="growth" style="width: 500px; height: 500px;"></div>

<script>
    HyphaeGrowingCreator().init('#growth');
</script>
</body>
</html>